/*
    Created on : 28-mar-2017, 11.49.27
    Author     : Gruppo n°8
*/

/* IMPOSTAZIONI GENERALI */
.color-primary-0 { color: #1A5EB6 }	/* Main Primary color */
.color-primary-1 { color: #E2E6EB } /* Background color*/
.color-primary-2 { color: #5E92D4 } /* Intestation color*/
.color-primary-3 { color: #08346D } /* Something pressed color*/
.color-primary-4 { color: #011D42 } /* Something targeted with mouse color*/


body{
    background-color: #E2E6EB;
}

header {
    margin-bottom: 2px;
    background-color: #1A5EB6;
    border-radius: 3px;
    font: 20px/20px "Arial Bold", Times, serif;
    height: 185px;
}

#userImpostazioni{
    margin-left: 7px;
}


a:link {
    color: #1A5EB6;
    background-color: #E2E6EB;
    text-decoration: none;
}

a:visited {
    color: #1A5EB6;
    background-color: #E2E6EB;
    text-decoration: none;
}

a:hover {
    color: #E2E6EB;
    background-color: #011D42;
    text-decoration: none;
}

a:active {
    color: #E2E6EB;
    background-color: #08346D;
    text-decoration: none;
}

#logo{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

#intLogo{
    margin-top: 0px;
    padding-top: 85px;
    margin-left: 10px;
}

#userImpostazioniC, #userImpostazioniA, #userImpostazioniH, #userImpostazioniAdd{
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 2px;
}
/**********************************************************************************************************************/
/* CSS Main */
#intestazione{
    color: #5E92D4;
    font: 30px/30px "Pristina", Monospaced, serif;
}

#userLogin{
    float: right;
}

#userImpostazioniA{
    margin-left: 2px;
}

#btnAccedi, #btnRegistrati, #btnLogout{
    border-radius: 3px;
    height: 26px;
    width: 95px;
    margin-right: 5px;

}

/* NON FUNZIONA QUESTA
#btnAccedi:hover, #btnRegistrati:hover #btnLogout:hover{
    color: #5E92D4;
}
*/
#testoPerCliente {
    margin-left: 10px;
    margin-top: 5px;
}

#testoPerCliente2{
    margin-top: 1px;
    margin-bottom: 1px;
}

#testoPerCliente3{
    margin-top: 1px;
}

#divRicerca {
    border-style: solid;
    border-color: #5E92D4;
    border-width: 2px;
    border-radius: 2px;
    margin-top: 25px;
}

#doveVai{
    height: 30px;
    width: 20%;

}

#doveVai, #dataArrivo, #dataPartenza{
    height: 30px;
    margin-right: 35px;
}

#divRisultatoRicerca{
    border-style: solid;
    border-color: #5E92D4;
    margin-top: 20px;
}

#divSuggerimenti {
    border-style: solid;
    border-color: #5E92D4;
    margin-top: 20px;
}

#btnCerca{
    float: right;
    height: 30px;
    margin-top: 2px;
    margin-right: 2px;
    width: 14.55%;
    border-radius: 2px;
    background-color: #5E92D4;
    color: #E2E6EB;

}

/**********************************************************************************************************************/
/* CSS Home */
#userImpostazioniAdd{
    margin-left: -3px;
}

#tabellaPrenotazioni{
    margin-top: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/**********************************************************************************************************************/
/* CSS Aggiungi Hotel */
#divTastoAggiungi{
    border-style: solid;
    border-color: #5E92D4;
    margin-top: 3px;
    border-radius: 3px;
    height: 30px;
}

#btnAggiungiHotel{
    width: 100%;
    height: 100%;
    background: #08346D;
    color: #E2E6EB;
    font: 20px/20px "Times New Roman", Monospaced, serif;
}

#formAggiungiHotel{
    border-radius: 2px;
    border-color: #5E92D4;
    border-style: solid;
    margin-top: 2px;
}

#divHotelAggiunti{
    border-radius: 2px;
    border-color: #5E92D4;
    border-style: solid;
    margin-top: 2px;
}

/**********************************************************************************************************************/
/* CSS Aggiungi Camera */
#infoHotel{
    border-radius: 2px;
    border-color: #5E92D4;
    border-style: solid;
    margin-top: 2px;
}

#btnAggiungiCamera{
    width: 100%;
    height: 100%;
    background: #08346D;
    color: #E2E6EB;
    font: 20px/20px "Times New Roman", Monospaced, serif;
}

#divCamereAggiunte{
    border-radius: 2px;
    border-color: #5E92D4;
    border-style: solid;
    margin-top: 2px;
}

/**********************************************************************************************************************/
/* CSS Login */
#imgProfiloContenitore, #formLogin, #ritorno{
    margin-left: 35%;
}

#nonHaiAccount:hover{
    color: #1A5EB6;
    background-color: #E2E6EB;
    text-decoration: underline;
}
/**********************************************************************************************************************/
/* CSS Registrazione*/
#formRegistrazione{
    margin-left: 35%;
}

#btnAccediInRegistrazione{
    border-radius: 3px;
    height: 26px;
    width: 150px;
    margin-right: 5px;
}

