<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" type="text/css" href="Style.css" media="screen">
    <title>The Reception</title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="img//LogoBooking.png" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                     <button id="btnRegistrati" type="button" value="registrati" onclick="top.location.href='Registrazione.html'"  > Registrati </button>
                     <button id="btnAccedi" type="button" value="accedi" onclick="top.location.href='Login.html'" > Accedi </button>
                </div>
                <div id="userImpostazioni">

                    <a href="Cookies.html"> Cookies </a>
                    <a href="Assistenza.html"> Assistenza </a>
                </div>

            </nav>
        </div>
    </header>
    <div id="divRicerca">
        <input type="search" placeholder="Dove vuoi andare?">
        Data Arrivo <input id="dataArrivo" type="date">
        Data Partenza <input id="dataPartenza" type="date">
        Numero di persone<input id="quantita" type="number" min="1">
        <input id="btnCerca" type="submit" value="Cerca">
    </div>
    <div id="divRisultatoRicerca">
        RISULTATI RICERCA QUI
    </div>
    <div id="divSuggerimenti">
        POSTI CONSIGLIATI QUI
    </div>
</body>
</html>