<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" type="text/css" href="../static/Style.css" media="screen">
    <title> Aggiungi Hotel </title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img src="../static/img/LogoBooking.png" id="logo">
            <h1> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                     <button id="btnLogout" type="button" value="esci" onclick="top.location.href='Main.html'" > Logout </button>
                </div>
                <div id="userImpostazioni">
                    <a href="Home.html"> Prenotazioni</a>
                    <a href="AggiungiHotel.html"> Lista Hotel </a>
                </div>

            </nav>
        </div>
    </header>

    <div id="divTastoAggiungi">
        <button id="btnAggiungiHotel" type="button" value="aggiungi"> Aggiungi Hotel </button>
        <!--al click di questo deve aprirsi il form? -->
    </div>
    <div id="formAggiungiHotel">
         <form action="Aggiungi" method="post">
             {% csrf_token %}
             <br>
                {{ form }}
             <br>
         <button type="submit" value="Aggiungi"> Aggiungi</button>
        </form>
    </div>
    <div id="divHotelAggiunti">

        <h1>I tuoi Hotel</h1>

        {% for hotel in listaHotel %}

            <h2> {{ hotel.nome }}</h2>

        {% endfor %}
    </div>
</body>
</html>