{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <script language="javascript">
	function mostraNascondiDiv() {
		if(document.getElementById("formAggiungiHotel").style.display === "block") {
            document.getElementById("formAggiungiHotel").style.display = "none";
            document.getElementById("btnAggiungiHotel").value = "Aggiungi Hotel ↓" ;
        }
		else {
            document.getElementById("formAggiungiHotel").style.display = "block";
            document.getElementById("btnAggiungiHotel").value = "Aggiungi Hotel ↑" ;
        }
	}
	</script>

    <title> Aggiungi Hotel </title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="{% static '/img/LogoBooking.png' %}" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                     <button id="btnLogout" type="button" value="esci" onclick="top.location.href='/'" > Logout </button>
                </div>
                <div id="userImpostazioni">
                    <a id="userImpostazioniH" href="/Home/{{ albergatoreID }}"> Prenotazioni</a>
                    <a id="userImpostazioniAdd" href=""> Lista Hotel </a>
                </div>

            </nav>
        </div>
    </header>

    <div id="divTastoAggiungi">
        <input id="btnAggiungiHotel" type="button" value="Aggiungi Hotel ↓" onclick="mostraNascondiDiv()">
    </div>
    <div hidden id="formAggiungiHotel">
         <form method="post">
             {% csrf_token %}
             {{ form.as_p }}
         <button type="submit" value="Aggiungi"> Aggiungi</button>
        </form>
    </div>
    <div id="divHotelAggiunti">
        {% if vuoto %}
            <h2>Ancora nessun hotel aggiunto alla lista...</h2>
        {% endif %}
        <h1>I tuoi Hotel</h1>
        <table>
            <tr>
                <td><h2> Nome Hotel</h2></td>
                <td><h2>Numero Camere</h2></td>
            </tr>
        {% for hotel in listaHotel %}

            {%if hotel.nome %}
             <tr>
                <th>
                    <h3>    <a id="dettaglioHotel" href="/InfoHotelAggiungiCamera/{{hotel.id}}">{{ hotel.nome }}</a> </h3>
                </th>
            {%else%}
                {% if hotel %}
                    <th>
                        <h3>{{hotel}}</h3>
                    </th>
                {% endif %}
             </tr>
            {% endif %}

            {% endfor %}
        </table>
    </div>
</body>
</html>