<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" type="text/css" href="Style.css" media="screen">
    <title> Home </title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="img//LogoBooking.png" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                    <button id="btnLogout" type="button" value="esci" onclick="top.location.href='Main.html'"> <b>Logout </b> </button>
                </div>
                <div id="userImpostazioni">
                    <a id="userImpostazioniH" href="Home.html"> Prenotazioni</a>
                    <a id="userImpostazioniAdd" href="AggiungiHotel.html"> Lista Hotel </a>
                </div>

            </nav>
        </div>
        <div id="tabellaPrenotazioni">
            <table>
                <tr>
                    <th> Nome Hotel </th>
                    <th> Camera </th>
                    <th> Email Utente </th>
                    <th> Data Arrivo </th>
                    <th> Data Partenza </th>
                </tr>
                <tr>
                    <td> Best Hotel </td>
                    <td> Camera n°1 </td>
                    <td> g6@gmail.com </td>
                    <td> 01/01/2018 </td>
                    <td> 01/12/2018 </td>
                </tr>
                <tr>
                    <td> Golden Hotel </td>
                    <td> Camera n°19 </td>
                    <td> oscar.wilde@gmail.com </td>
                    <td> 18/01/2018 </td>
                    <td> 23/01/2018 </td>
                </tr>
                <tr>
                    <td> Best Hotel </td>
                    <td> Camera n°3 </td>
                    <td> zanzibar@gmail.com </td>
                    <td> 30/01/2018 </td>
                    <td> 04/02/2018 </td>
                </tr>
                <tr>
                    <td> Golden Hotel </td>
                    <td> Camera n°16 </td>
                    <td> ababahalamaga@gmail.com </td>
                    <td> 01/02/2018 </td>
                    <td> 04/02/2018 </td>
                </tr>
                <tr>
                    <td> Gold Hotel </td>
                    <td> Camera n°17 </td>
                    <td> abdu.la@gmail.com </td>
                    <td> 10/02/2018 </td>
                    <td> 07/03/2018 </td>
                </tr>
                <tr>
                    <td> Oxygen Residence </td>
                    <td> Camera n°32 </td>
                    <td> dzhuman.bohdan@gmail.com </td>
                    <td> 30/03/2018 </td>
                    <td> 04/04/2018 </td>
                </tr>
                <tr>
                    <td> Oxygen Residence </td>
                    <td> Camera n°31 </td>
                    <td> xiaoming@gmail.com </td>
                    <td> 01/04/2018 </td>
                    <td> 03/04/2018 </td>
                </tr>
            </table>
        </div>
    </header>

</body>
</html>