{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <title> Login </title>
</head>
<body id="">
    <header>
        <div id="intestazione">
            <img id="logo" src="{% static '/img/LogoBooking.png' %}" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
    </header>
    <div id="imgProfiloContenitore">
        <h1 id="intestazionePagina"> Welcome </h1>
    </div>
    {% if error %}
        <h3 id="errore">I dati inseriti sono errati.</h3>
    {% endif %}
    <form method="post" id="formLogin">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="btnLogin" type="submit">Accedi</button>
        <button id="btnRitorna" type="submit"> Annulla</button>
        <hr>
        <div id="ritorno">
            <span class="psw"> Non hai ancora un account?<a  id="nonHaiAccount"  href="/Registrazione"> Registrati. </a></span>
        </div>
    </form>
</body>
</html>

