{% load static %}
<!DOCTYPE html>
<html lang="it">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <title>The Reception</title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="{% static '/img/LogoBooking.png' %}" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                    <button id="btnRegistrati" type="button" value="registrati" onclick="top.location.href='/signup'">  <b> Registrati </b> </button>
                    <button id="btnAccedi" type="button" value="accedi" onclick="top.location.href='/Login'">  <b> Accedi </b> </button>
                </div>
                <!--<div id="userImpostazioni">
                    <a id="userImpostazioniC" href="Cookies.html">  Cookies </a>
                    <a id="userImpostazioniA" href="Assistenza.html"> Assistenza </a>
                </div>-->

            </nav>
        </div>
    </header>
    <div id="testoPerCliente">
        <h1 id="testoPerCliente2"> Tutti meritano una vacanza. Cosa aspetti?</h1>
        <p id="testoPerCliente3"> I migliori hotel, pronti a proporti la loro camera per la tua vacanza. </p>
    </div>
    <div id="divRicerca">
        <form method="post">
        {% csrf_token %}
            {{ form }}
            {% if noresult == True %}
                Nessuna Camera Trovata
            {% endif %}

            <button id="btnCerca" type="submit"> <b> Cerca</b> </button>
        </form>

    </div>
    <div id="divSuggerimenti">
        <div id="postoConsUno">
            <img id="postoUno" src="{% static 'img/hong-kong.png' %}" alt="Posto Consigliato">
        </div>
        <div id="postoConsDue">
            <img id="postoDue" src="{% static 'img/las-vegas.png' %}" alt="Posto Consigliato">
        </div>
        <div id="postoConsTre">
            <img id="postoTre" src="{% static 'img/tokyo.png' %}" alt="Posto Consigliato">
        </div>
        <div id="postoConsQuattro">
            <img id="postoQuattro" src="{% static 'img/warsaw.png' %}" alt="Posto Consigliato">
        </div>
        <div id="postoConsCinque">
            <img id="postoCinque" src="{% static 'img/moscow.png' %}" alt="Posto Consigliato">
        </div>
    </div>

    <hr>
        <h6> Copyright © 2018 TheReception.com™. Tutti i diritti riservati</h6>
    <hr>
</body>
</html>