<!DOCTYPE html>
<html lang="it">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author">
    <meta name="keywords" content="the reception reseption booking hotel prenota">
    <!-- <link rel="stylesheet" type="text/css" href="../static/Style.css" media="screen"> -->
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <title>The Reception</title>
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="../static/img//LogoBooking.png" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <div id="userForm">
            <nav>
                <div id="userLogin">
                    <button id="btnRegistrati" type="button" value="registrati" onclick="top.location.href='Registrazione.html'">  <b> Registrati </b> </button>
                    <button id="btnAccedi" type="button" value="accedi" onclick="top.location.href='Login.html'">  <b> Accedi </b> </button>
                </div>
                <div id="userImpostazioni">
                    <a id="userImpostazioniC" href="Cookies.html">  Cookies </a>
                    <a id="userImpostazioniA" href="Assistenza.html"> Assistenza </a>
                </div>

            </nav>
        </div>
    </header>
    <div id="testoPerCliente">
        <h1 id="testoPerCliente2"> Tutti meritano una vacanza. Cosa aspetti?</h1>
        <p id="testoPerCliente3"> I migliori hotel, pronti a proporti la loro camera per la tua vacanza. </p>
    </div>
    <div id="divRicerca">
        <form action="ListaCamereDisponibili/" method="post">
        {% csrf_token %}
            {{ form }}
            {% if noresult == True %}
                Nessuna Camera Trovata
            {% endif %}
            <!--
            <label for="dove?"> </label>
            <input id="doveVai" type="search" placeholder="Dove vuoi andare?" name="dove?" required>

            <label for="dataA?"> </label>
            Data Arrivo <input id="dataArrivo" type="date" name="dataA?" required>

            <label for="dataP?"> </label>
            Data Partenza <input id="dataPartenza" type="date" name="dataP?" required>

            <label for="numeroPosti?"> </label>
            Numero di persone<input id="quantiSiete" type="number" min="1" name="numeroPosti?" required>
            -->
            <button id="btnCerca" type="submit"> <b> Cerca</b> </button>
        </form>

    </div>
    <div id="divRisultatoRicerca">
        RISULTATI RICERCA QUI
        <p> (TODO::da decidere dove andrà) Dopo la selezione dell'hotel, la persona dovrà inserire i propri dati:</p>
        <form>
            <label for="email"><b>Email</b></label> <br>
            <input type="text"  name="email" required> <br>

            <button type="submit"> Invia Prenotazione</button>
        </form>
    </div>
    <div id="divSuggerimenti">
        POSTI CONSIGLIATI QUI
    </div>
</body>
</html>