<!DOCTYPE html>
<html lang="it">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Prenota</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
</head>
<body>
    <header>
        <div id="intestazione">
            <img id="logo" src="{% static 'img/LogoBooking.png' %}" alt="Logo" width="100" height="100">
            <h1 id="intLogo"> The Reception.com</h1>
        </div>
        <br>
        <div>
            <b><p>Per procedere alla prenotazione della tua camera, inserisci il tuo indirizzo Email</p></b>
            <p><b>Hotel Scelto:</b> {{ nomeHotel }}</p>
            <p><b>Camera:</b> {{ numeroCamera }}</p>
            <p><b>Posti letto:</b> {{ postiLetto }}</p>
            <p><b>Data di Arrivo:</b> {{ arrivo }}</p>
            <p><b>Data di Partenza:</b> {{ partenza }}</p>
            <div id="divRicerca">
                <form action="PrenotazioneEffettuata/" method="post">
                {% csrf_token %}

                    {{ form }}
                    <button id="btnPrenota" type="submit"> <b> Prenota</b> </button>
                </form>
            </div>
        </div>
    </header>
</body>
</html>